
{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>Події</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="index.html" class="logo"><strong>STEM</strong> events</a>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
									</ul>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>STEM<br />
											Події нашої академії</h1>
											<p>В цьому розділі ми пишемо про події STEMу</p>
										</header>
										<p>Тут будуть описані всі події, також ви зможете зареєструватися на них, заповнивши відповідну форму! Будемо раді бачити вас на наших івентах</p>
										<ul class="actions">
											<li><a href="{% url 'about' %}" class="button big">Дізнатися більше!</a></li>
										</ul>
									</div>
									<span class="image object">
										<img src="{% static 'img/logo.jpg' %}" alt="" />
									</span>
                                </section>
                                
							<!-- Section -->
								<section>
									<header class="major">
										<h2>Події, на які ви ще встигаєте:)</h2>
									</header>
									<div class="posts">
                                        {% for event in new_event_list %}
										<article>
											<a href="/events/{{ event.slug }}/" class="image"><img src="{{ event.top_image.url }}" alt="" /></a>
											<h3>{{event.name}}</h3>
												{% for tag in event.tags.all %}
													<i>{{tag.tag}}</i>
												{% endfor %}
											<p>{{event.description|truncatewords:15}}</p>
											<ul class="actions">
												<li><a href="/events/{{ event.slug }}/" class="button">Більше</a></li>
                                            </ul>
                                        </article>
                                        {% endfor %}
										
									</div>
								</section>
								
                                <section>
									<header class="major">
										<h2>Події, які вже відбулися</h2>
									</header>
									<div class="posts">
                                        {% for event in old_event_list %}
										<article>
											<a href="/event/{{ event.slug }}/" class="image"><img src="{{ event.top_image.url }}" alt="" /></a>
											<h3>{{event.name}}</h3>
												{% for tag in event.tags.all %}
													<i>{{tag.tag}}</i>
												{% endfor %}
											<p>{{event.description|truncatewords:15}}</p>
											<ul class="actions">
												<li><a href="/events/{{ event.slug }}/" class="button">Більше</a></li>
                                            </ul>
                                        </article>
                                        {% endfor %}
										
									</div>
								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>

							<!-- Menu -->
							<nav id="menu">
								<header class="major">
									<h2>Меню</h2>
								</header>
								<ul>
									<li><a href="{% url 'main' %}">Головна</a></li>
									<li><a href="{% url 'blog' %}">Блог</a></li>
									<li><a href="elements.html">Події</a></li>
									<li>
										<span class="opener">Кабінети</span>
										<ul>
											<li><a href="#">Кабінет Учня</a></li>
											<li><a href="#">Кабінет Викладача</a></li>
										</ul>
									</li>
									<li><a href="#">Пройти тестування</a></li>
									<li>
										<span class="opener">Про нас</span>
										<ul>
											<li><a href="#">Про STEM</a></li>
											<li><a href="{% url 'alumnis' %}">Наші випускники</a></li>
											<li><a href="{% url 'teachers' %}">Наші викладачі</a></li>
										</ul>
									</li>
									
								</ul>
							</nav>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Ante interdum</h2>
									</header>
									<div class="mini-posts">
										<article>
											<a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic08.jpg" alt="" /></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic09.jpg" alt="" /></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
										</article>
									</div>
									<ul class="actions">
										<li><a href="#" class="button">More</a></li>
									</ul>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Є запитання?</h2>
									</header>
									<p>Ми завжди готові відповісти на ваші запитання і будемо раді відгукам!.</p>
									<ul class="contact">
										<li class="icon solid fa-envelope"><a href="#">miki.mask100@gmail.com</a></li>
										<li class="icon solid fa-phone">(+380) 095-866-5393</li>
										<li class="icon solid fa-home">1234 Somewhere Road #8254<br />
										Nashville, TN 00000-0000</li>
									</ul>
								</section>

							<!-- Footer -->
							<footer id="footer">
								<p class="copyright">&copy;Всі права захищено. Власник: STEM Academy. <a href="https://unsplash.com">STEM</a>. Architecture: <a href="https://html5up.net">Oleg Korchovsky</a>.</p>
							</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/browser.min.js' %}"></script>
			<script src="{% static 'js/breakpoints.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>
