<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>STEM</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="index.html" class="logo"><strong>STEM</strong> home</a>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="https://www.facebook.com/ilovestem.academy" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
									</ul>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>STEM<br />
											Academy</h1>
                                            <p>"Велич людини в її здатності мислити."</p>
										</header>
										<p>STEM (Science, Technology, Engineering and Mathematics) — наука, технології, інженерія, математика. Цим терміном традиційно окреслюють підхід до освітнього процесу, відповідно до якого основою набуття знань є проста та доступна візуалізація наукових явищ, що дає змогу легко охопити і здобути знання на основі практики та глибокого розуміння процесів.</p>
										<ul class="actions">
											<li><a href="#" class="button big">Дізнатися більше</a></li>
										</ul>
									</div>
									<span class="image object">
										<img src="images/pic10.jpg" alt="" />
									</span>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Що таке навчання в STEM?</h2>
									</header>
									<div class="features">
										<article>
											<span class="icon fa-gem"></span>
											<div class="content">
												<h3>Цінність знань</h3>
												<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-paper-plane"></span>
											<div class="content">
												<h3>Лектори</h3>
												<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-rocket"></span>
											<div class="content">
												<h3>Спільнота для усвідомлених</h3>
												<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-signal"></span>
											<div class="content">
												<h3>Постійний розвиток мислення</h3>
												<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											</div>
										</article>
									</div>
								</section>

							<!-- Section -->
								<!-- Section -->
								<section>
									<header class="major">
										<h2>Новини</h2>
									</header>
									<div class="posts">
                                        {% for article in latest_article_list %}
										<article>
											<a href="/blog/{{ article.slug }}/" class="image"><img src="{{ article.image.url }}" alt="" /></a>
											<h3>{{article.title}}</h3>
												{% for tag in article.article_tag.all %}
													<i>{{tag.tag}}</i>
												{% endfor %}
											<p>{{article.text|truncatewords:15}}</p>
											<ul class="actions">
												<li><a href="/blog/{{ article.slug }}/" class="button">Більше</a></li>
                                            </ul>
                                        </article>
                                        {% endfor %}
										
									</div>
								</section>
								<section>
									<header class="major">
										<h2>Події</h2>
									</header>
									<div class="posts">
                                        {% for e in latest_events %}
										<article>
											<a href="/events/{{e.slug }}/" class="image"><img src="{{ e.top_image.url }}" alt="" /></a>
											<h3>{{e.name}}</h3>
												{% for tag in e.tags.all %}
													<i>{{tag.tag}}</i>
												{% endfor %}
											<p>{{e.description|truncatewords:15}}</p>
											<ul class="actions">
												<li><a href="/events/{{ e.slug }}/" class="button">Більше</a></li>
                                            </ul>
                                        </article>
                                        {% endfor %}
										
									</div>
								</section>
						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>

							<!-- Menu -->
							<nav id="menu">
								<header class="major">
									<h2>Меню</h2>
								</header>
								<ul>
									<li><a href="{% url 'main' %}">Головна</a></li>
									<li><a href="{% url 'blog' %}">Блог</a></li>
									<li><a href="{% url 'events' %}">Події</a></li>
									<li>
										<span class="opener">Кабінети</span>
										<ul>
											<li><a href="#">Кабінет Учня</a></li>
											<li><a href="#">Кабінет Викладача</a></li>
										</ul>
									</li>
									<li><a href="#">Пройти тестування</a></li>
									<li>
										<span class="opener">Про нас</span>
										<ul>
											<li><a href="#">Про STEM</a></li>
											<li><a href="{% url 'alumnis' %}">Наші випускники</a></li>
											<li><a href="{% url 'teachers' %}">Наші викладачі</a></li>
										</ul>
									</li>
									
								</ul>
							</nav>

							<!-- Section -->
							<section>
								<header class="major">
									<h2>Випадкові дописи блогу</h2>
								</header>
								{% for a in random_articles %}
								<div class="mini-posts">
									<article>
										<a href="blog/{{ a.slug }}" class="image"><img src="{{ a.image.url }}" alt="" /></a>
										<h3>{{a.title}}</h3>
										<p>{{a.text|truncatewords:7}}</p>
									</article>
								</div>
								{% endfor %}
								<ul class="actions">
									<li><a href="{% url 'blog' %}" class="button">Блог</a></li>
								</ul>
							</section>

						<!-- Section -->
							<section>
								<header class="major">
									<h2>Є запитання?</h2>
								</header>
								<p>Ми завжди готові відповісти на ваші запитання і будемо раді відгукам!<br>24/7</p>
								<ul class="contact">
									<li class="icon solid fa-envelope"><a href="#">miki.mask100@gmail.com</a></li>
									<li class="icon solid fa-phone">(+380) 095-866-5393</li>
									<li class="icon solid fa-home">0000 вул.Шевченка #3500<br />
									Львів, TN 00000-0000</li>
								</ul>
							</section>

							<!-- Footer -->
							<footer id="footer">
								<p class="copyright">&copy;Всі права захищено. Власник: STEM Academy. <a href="https://unsplash.com">STEM</a>. Architecture: <a href="https://www.facebook.com/KorchovskyiOleh">Oleg Korchovsky</a>.</p>
							</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/browser.min.js' %}"></script>
		<script src="{% static 'js/breakpoints.min.js' %}"></script>
		<script src="{% static 'js/util.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>